:root {
--primary: #ddd;
--dark: #333;
--light: #fff;
--shadow: 0 1px 5px rgba(104,104,104, 0.8);
}
html{
box-sizing: border-box;
font-family: Arial, Helvetica, sans-serif;
color: var(--dark);
}
body{
    background: #ccc;
    margin: 30px 50px;
    line-height: 1.4;
}
.btn{
    background: var(--dark);
    color: var(--light);
    padding: 0.6rem 1.3rem;
    text-decoration: none;
    border: 0;

}
.img{
    max-width: 100px;
}
.container{
    display: grid;
    grid-gap: 20px;
}
.main-nav ul {
    display: grid;
    grid-gap: 20px;
    padding: 0;
    list-style: none;
    grid-template-columns: repeat(4, 1fr);
}
.main-nav a {
    background: var(--primary);
    display: block;
    text-decoration: none;
    padding: 0.8rem;
    text-align: center;
    color:var(--dark);
    text-transform: uppercase;
    font-size: 1.1rem;
    box-shadow: var(--shadow);

}
.main-nav a:hover{
    box-shadow: var(--dark);
    color:var(--light);
}
.top-container{
    display: grid;
    grid-gap: 20px;
}
.showcase{
    background: url("https://images.pexels.com/photos/8614/painting-black-paint-roller.jpg?cs=srgb&dl=black-color-paint-8614.jpg&fm=jpg");
    background-size:cover;
    background-position: 3rem; 
    align-items: center;
}
.showcase h1{
    font-size: 2.1rem;
    color:aliceblue;
}
.info{
    background: var(--primary);
    box-shadow: var(--shadow);
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(2, 1fr);
    padding: 3rem;
}
.info x{
    background: var(--primary);
    box-shadow: var(--shadow);
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(2, 1fr);
    padding: 3rem;
}
table, th, td {
    border: 1px solid black;
    width: 10em;
    margin-left: auto;
    margin-right: auto;
  }
  td[colspan="2"] {
    text-align: center;
  }

  .info q{
    background: var(--primary);
    box-shadow: var(--shadow);
    display: grid;
    grid-gap: 30px;
    grid-template-columns: 1fr;
    padding: 3rem;
  }
.column{
  padding: 20px;
  box-sizing: border-box;
  margin-bottom: 20px;
  flex-basis: 30%;
}
.column img{
  float: left;
  margin-right: 4%;

}
.footer{
    margin: 2rem;
    background: var(--dark);
    color: var(--light);
    text-align: center;
     padding: 1rem;
}
@media(max-width: 700px){
    .top-container{
        display: grid;
        grid-gap: 20px;
    }
    .showcase{
        background: url("https://images.pexels.com/photos/8614/painting-black-paint-roller.jpg?cs=srgb&dl=black-color-paint-8614.jpg&fm=jpg");
        background-size:cover;
        background-position: 3rem; 
        align-items: center;
    }
    .showcase h1{
        font-size: 2.1rem;
        color:aliceblue;
    }

.main-nav ul{
    grid-template-columns: 1fr;
}
.info{
    grid-template-columns: 1fr;
}
.info .btn {
    display: block;
    text-align: center;
    margin: auto;
}
.footer{
    margin: 2rem;
    background: var(--dark);
    color: var(--light);
    text-align: center;
     padding: 1rem;
}
}