@media(min-width:800px){

    body, html {
    height: 100%;
    margin: 0px 0px 0px 0px;
  }
  
  .bg { 

    background-image: url("https://images.pexels.com/photos/988872/pexels-photo-988872.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    height: 100%; 
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
 }
  
  .header {
    background-image: url("https://images.pexels.com/photos/544268/pexels-photo-544268.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
    width: 100%;
    float: left;
    background-size: 100% 100%;
  }
  .h1{
    font: sans-serif;
    color: greenyellow;
    text-decoration: none;
}

  .sidenav {
    height: 100%; 
    width: 160px; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    background-color: #111; 
    overflow-x: hidden; 
    padding-top: 0px;
    top: 16px;
    margin-top: 136px;
}
 
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
  }
  .sidenav a:hover {
    color: #f1f1f1;
  }
  .main {
    margin-left: 160px;
    padding: 0px 10px;
  }
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
  .menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.h2{
  color: red;
  text-align: center;
}
.content{
  width: 40em;
  margin-left: auto;
  margin-right: auto;
}
.img{
  margin-left: auto;
  margin-right: auto;
  display: block;

}
.sunflower{
  width: 40em;
  margin-left: auto;
  margin-right: auto;
}
.wayout{
  width: 40em;
  margin-left: auto;
  margin-right: auto;
}
table, th, td {
  border: 1px solid black;
  width: 10em;
  margin-left: auto;
  margin-right: auto;
}
td[colspan="2"] {
  text-align: center;
}
.history{
  width: 40em;
  margin-left: auto;
  margin-right: auto;
}
.img1{
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.District{
  width: 40em;
  margin-left: auto;
  margin-right: auto;
}
.img2{
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.George{
  width: 40em;
  margin-left: auto;
  margin-right: auto;
}
.img3{
  margin-left: auto;
  margin-right: auto;
  display: block;
}


 }



body, html {
    height: 100%;
    margin: 0px 0px 0px 0px;
  }
  
  .bg { 

    background-image: url("https://images.pexels.com/photos/988872/pexels-photo-988872.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    height: 100%; 
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .header {
    background-image: url("https://images.pexels.com/photos/544268/pexels-photo-544268.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
    width: 100%;
    float: left;
    background-size: 100% 100%;
}
.h1{
    font: sans-serif;
    color: greenyellow;
    text-decoration: none;
}
.sidenav {
  height: 100%; 
  width: 160px; 
  position: fixed; 
  z-index: 1; 
  left: 0;
  background-color: #111; 
  overflow-x: hidden; 
  padding-top: 0px;
  top: 16px;
  margin-top: 136px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}
.sidenav a:hover {
  color: #f1f1f1;
}
.main {
  margin-left: 160px;
  padding: 0px 10px;
}
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
} 
.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.h2{
  color: red;
  text-align: center;
}
.content{
  width: 40em;
  margin-left: auto;
  margin-right: auto;
}
.img{
  margin-left: auto;
  margin-right: auto;
  display: block;

}
.sunflower{
  width: 40em;
  margin-left: auto;
  margin-right: auto;
}
.wayout{
  width: 40em;
  margin-left: auto;
  margin-right: auto;
}
table, th, td {
  border: 1px solid black;
  width: 10em;
  margin-left: auto;
  margin-right: auto;
}
td[colspan="2"] {
  text-align: center;
}
.history{
  width: 40em;
  margin-left: auto;
  margin-right: auto;
}
.img1{
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.District{
  width: 40em;
  margin-left: auto;
  margin-right: auto;
}
.img2{
  margin-left: auto;
  margin-right: auto;
  display: block;
}